<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>

    <link rel="stylesheet" href="../assets/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="header">
          <h1 class="title">Canaux</h1>

          <a href=""><img src="../assets/images/addBox.svg" alt="" /></a>
        </div>

        <div class="line"></div>

        <div class="menu">
          <div class="searchbar">
            <img src="../assets/images/search.svg" alt="" />
            <input type="text" placeholder="Rechercher ..." />
          </div>

          <div class="menu-items">
            <ul class="links">
              <li class="link">
                <a href=""
                  ><div>
                    <div class="icon"><p>FD</p></div>
                    <p>Front end developers</p>
                  </div></a
                >
              </li>
              <li class="link">
                <a href=""
                  ><div>
                    <div class="icon"><p>BD</p></div>
                    <p>Back end developers</p>
                  </div></a
                >
              </li>
              <li class="link">
                <a href=""
                  ><div>
                    <div class="icon"><p>R</p></div>
                    <p>Random</p>
                  </div></a
                >
              </li>
              <li class="link">
                <a href=""
                  ><div>
                    <div class="icon"><p>CM</p></div>
                    <p>Chat and messages</p>
                  </div></a
                >
              </li>

              <li class="link">
                <a href=""
                  ><div>
                    <div class="icon"><p>MF</p></div>
                    <p>My first chat application</p>
                  </div></a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="popupdeco">
          <div class="member">
            <p>Mon Profil</p>
          </div>
          <div class="line"></div>
          <div class="deco">
            <p>Deconnexion</p>
          </div>
        </div>

        <div class="profil--container">
          <div class="line"></div>
          <div class="profil">
            <div class="imageProfil"></div>
            <h1 class="name">Jonathan CIERP</h1>
            <a onclick=""
              ><img src="../assets/images/more.svg" alt="" class="showmore"
            /></a>
          </div>
        </div>
      </div>

      <div class="navbar">
        <div class="header">Front-end developers</div>
      </div>

      <div class="section">
        <div class="messages">
          <div class="head">
            <div class="imageProfil"></div>
            <div class="content">
              <h1 class="name">Jonathan CIERP</h1>
              <p class="date">Mardi 22 novembre 2020, à 14h30</p>
            </div>
          </div>

          <div class="body">
            <p class="message">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

        <div class="messages">
          <div class="head">
            <div class="imageProfil"></div>
            <div class="content">
              <h1 class="name">Jonathan CIERP</h1>
              <p class="date">Mardi 22 novembre 2020, à 14h30</p>
            </div>
          </div>

          <div class="body">
            <p class="message">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

        <div class="line"></div>

        <div class="sendbar">
            <input type="text" name="" id="" placeholder="Ecrire votre message ici ...">
            <div class="send"></div>
        </div>
      </div>
    </div>

    <div class="form">
        <h1>CREER UN CANAL</h1>
        <form action="">
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Description">
            <input type="submit" id="submit"></input>
            <a href="./home.html">Supprimer</a>
        </form>
    </div>
  </body>
</html>
