<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>

    <link rel="stylesheet" href="../assets/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="header">
          <h1 class="title">Canaux</h1>

          <a href=""><img src="../assets/images/addBox.svg" alt="" /></a>
        </div>

        <div class="line"></div>

        <div class="menu">
          <div class="searchbar">
            <img src="../assets/images/search.svg" alt="" />
            <input type="text" placeholder="Rechercher ..." />
          </div>
        </div>
      </div>

      <div class="navbar"></div>

      <div class="section"></div>
    </div>
  </body>
</html>
